body {
	background: #DEDEDE;
	font-size: 13.5px;
}

header {
	width: 100%;
	overflow: hidden;
	background: #333333;
	background: red;
	padding-top: 5px;
}
h1 {
	float: left;
	margin-left: 40px;
}
nav {
	float: right;
	margin-right: 40px;
	margin-top: 13px;
}
.nav-item {
	display: inline-block;
	margin-left: 15px;
}
.nav-item a {
	font-size: 13px;
	color: #FFE0EB;
}

article {
	background: #fff;
	margin: 20px 20px;
}
article h3 {
	margin-top: 20px;
}
p {
	text-indent: 2px;
	border: 1px solid red;
}
